/*-------------------------------------------*\
  #ROOT
\*-------------------------------------------*/

:root {
    /**
     * colors
     */
    
    /* Primary */
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);

    /* Neutral */
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);

    /**
     * Typography
     */

    /* Body Copy */
    --Font-size : 28px; /** (quote) */

    /* Font Family */
    --font-family: "Manrope", sans-serif;
}





/*-------------------------------------------*\
  #RESET
\*-------------------------------------------*/

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li { list-style: none; }

a,
img,
span,
button { display: block; }

a {
    color: var(--Light-Cyan);
    text-decoration: none;
}

img { height: auto; }

button {
    background: none;
    border: none;
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    background-color: var(--Dark-Blue);
    font-family: var(--font-family);
    color: var(--Light-Cyan);
}

::selection {
    background-color: var(--Neon-Green);
    color: var(--Dark-Blue);
}

::-webkit-scrollbar {
    background-color: var(--Dark-Blue);
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--Neon-Green);
    border-radius: 4px;
}





/*-------------------------------------------*\
  #DUBLICATE ITEM
\*-------------------------------------------*/

.section { padding-block: 70px; }

.container { padding-inline: 12px; }

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title { padding-bottom: 30px; }





/*-------------------------------------------*\
  #COMPONENT
\*-------------------------------------------*/

/**
 * btn
 */
.btn {
  transform: translateX(-50%);
  position: absolute;
  bottom: -32.5px;
  left: 50%;
  background-color: var(--Neon-Green);
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .4s;
  animation: btn 500ms linear alternate;
}

.btn:where(:hover, :focus-visible) {
  box-shadow: 0 0 20px var(--Neon-Green);
  transition: .4s;
}





/*-------------------------------------------*\
  #MAIN
\*-------------------------------------------*/

.main .container .box {
  background-color: var(--Dark-Grayish-Blue);
  padding: 50px 30px 65px;
  text-align: center;
  border-radius: 18px;
  position: relative;
  max-width: 600px;
  width: 100%;
  animation: top-box 500ms linear alternate;
}

@keyframes top-box {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.main .container .box .id-advice {
  color: var(--Neon-Green);
  margin-bottom: 30px;
  letter-spacing: 3px;
  font-weight: 500;
  font-size: 1rem;
}

.main .container .box .tip-advice {
  font-size: var(--Font-size);
  margin-bottom: 30px;
}

.main .container .box .tip-advice::before { content: '"'; }

.main .container .box .tip-advice::after { content: '"'; }

.main .container .box figure .pattern-divider-desktop { display: none; }






/*-------------------------------------------*\
  #ZENA
\*-------------------------------------------*/

.main .container .box-zena {
  background-color: var(--Dark-Grayish-Blue);
  padding: 50px 30px 65px;
  text-align: center;
  border-radius: 18px;
  position: relative;
  max-width: 600px;
  width: 100%;
  height: 50vh;
  animation: zena 500ms linear infinite alternate;
}

.main .container .box-zena .id-advice-zena {
  background-color: var(--Light-Cyan);
  border-radius: 100px;
  height: 20px;
  width: 150px;
  margin: 0 auto 30px;
  animation: zena 500ms linear infinite alternate;
}

.main .container .box-zena .tip-advice-zena {
  background-color: var(--Light-Cyan);
  border-radius: 100px;
  height: 20px;
  width: 260px;
  margin: 0 auto 30px;
  animation: zena 500ms linear infinite alternate;
}

.main .container .box-zena .img-zena {
  background-color: var(--Light-Cyan);
  border-radius: 100px;
  height: 20px;
  width: 100%;
  margin: 0 auto 30px;
  animation: zena 500ms linear infinite alternate;
}

.btn-zena {
  transform: translateX(-50%);
  position: absolute;
  bottom: -32.5px;
  left: 50%;
  background-color: var(--Neon-Green);
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

@keyframes zena {
  0% { opacity: 0.4; }
  100% { opacity: 0.6; }
}






/*-------------------------------------------*\
  #MEDIA
\*-------------------------------------------*/

/**
 * FIT SIZE 768PX
 */
@media (min-width: 768px) {
  /* #RESET */
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
  }

  /* #DUBLICATE ITEM */
  .section { padding-block: 0; }

  .container { padding-inline: 0; }

  /* #MAIN */
  .main .container .box figure .pattern-divider-desktop { display: block; }

  .main .container .box figure .pattern-divider-mobile { display: none; }

  /* #ZENA */
  .main .container .box-zena { width: 600px; }
}